.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#masonry {
  margin:20px auto;
}

.mobile {
  display:none !important;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .mobile {
    display:flex !important;
  }
  .desktop {
    display:none !important;
  }
  img {
    width:150px !important;
  }
  #toolbar{
    height:auto !important;
    flex-wrap:wrap;
  }

}


